<header class="text-center">
</header>


<h2 class="text-center">
History of Action</h2>
<h3>Recent Votes:</h3> 
<h4>Bill Number:</h4>
{{person.billnumb}}
<h4>Bill Title:</h4>
{{person.billtitle}}
<h4>Bill Vote:</h4>
{{person.billtitle}}
<h1>Yay or nay, do they stay?:</h1>
{{person1.nextelection}}

