<!DOCTYPE html>
<html>
<head>

</head>
<body>
<h1>What Have You Done?</h1>
<br>
<h2>Discover the voting records of your local representatives</h2>
<br>
<p>Then pester their offices until their views reflect yours!</p>

<form action='../zip_form' method='get'>

<div>
  <label for='zip-code'>Enter Your Zip Code</label>
  <div>
  <input id='zip-code1' name='zip-code' type='number' min='00000' max='99999'>
  <!-- <input id='zip-code2' name='zip-code' type='number' min='1' max='9'>
  <input id='zip-code3' name='zip-code' type='number' min='1' max='9'>
  <input id='zip-code4' name='zip-code' type='number' min='1' max='9'>
  <input id='zip-code5' name='zip-code' type='number' min='1' max='9'> -->
  <input id='submit' name='submit' type='button' value='Go!'>
</div>
</div>

</form>

</body>
