<head>
  <link rel="stylesheet" type="text/css" href="./stylesheets/styles.css" />
</head>

<main class="center text-align--center">
  <h1 class="page__title highlight">
    What have you done?
  </h1>

  <h2 class="page__subtitle">
    Discover the <span class="bold">voting records</span> of your
    <span class="bold">local representatives.</span>
  </h2>

  <p class="callout">
    Then pester their offices until their views reflect yours!
  </p>

  <section class="zip__container">
    <h2>Enter Your Zip</h2>

    <ul class="zip__numbers__list">
      <li class="zip__numbers__item">
        <input
          type="number"
          placeholder="-"
          maxlength="1"
          class="zip__number js-inputZipNumber">
      </li>

      <li class="zip__numbers__item">
        <input
          type="number"
          placeholder="-"
          maxlength="1"
          class="zip__number js-inputZipNumber">
      </li>

      <li class="zip__numbers__item">
        <input
          type="number"
          placeholder="-"
          maxlength="1"
          class="zip__number js-inputZipNumber">
      </li>

      <li class="zip__numbers__item">
        <input
          type="number"
          placeholder="-"
          maxlength="1"
          class="zip__number js-inputZipNumber">
      </li>

      <li class="zip__numbers__item">
        <input
          type="number"
          placeholder="-"
          maxlength="1"
          class="zip__number js-inputZipNumber">
      </li>
    </ul>

    <a href="/legislators" class="btn btn-submit hide js-submitZip">Go</a>
  </section>
</main>
<script src="./javascripts/scripts.js"></script>
