<!DOCTYPE html>
<html>
<head>

</head>
<body>
<h1>What Have You Done?</h1>
<br>
<h2>Discover the voting records of your local representatives</h2>
<br>
<p>Then pester their offices until their views reflect yours!</p>

<form action='/legislators/address/' method='get'>

<div>
  <div>
  <label for='address'>Enter Your Address</label>

  <input id='address' name='address' type='text' min='00000' max='99999'>

  <input id='submit' name='submit' type='submit' value='Go!'>
</div>
</div>

</form>

</body>
