
<main class ='main'>
<h1 class="highlighted">What Have You Done?</h1>
<br>
<h2 id='subhead'>Discover the <span>voting records</span> of your <span>local representatives</span></h2>
<br>
<p class='grayed'>Then pester their offices until their views reflect yours!</p>

<form action='/legislators/address/' method='get' class='focus'>


  <div id='form-box' class='grayed'>
  <label for='address'>Enter Your Address</label>

  <input id='address' name='address' type='text'>

  <input class='highlighted' id='submit' name='submit' type='submit' value='Go!'>
  </div>
</form>
</main>
