<section class="center">
  <h2>Discover the voting records
  <br>
   of your local representatives.</h2>
  <p>Then pester their offices until their views reflect yours!</p>
</section>

<form action='/legislators' method='get'>
  <h5 class="center">Enter Your Zip Code: </h5>
  <input type="text" name="zip" id="zip">
  <input type='submit' value='Go!'>
</form>