<h3>Discover the voting records of your local representatives</h3>
<h5>Then pester their offices until their views refelect yours!</h5>
<form method="get" action="/zipCode">
  <input type="number" name="zipCode"/><br>
  <button type="submit" value="Submit">GO!</button>
</form>
<p>{{inputError}}</p>
