<div class="home">
  <h2>Discover the <strong>voting records</strong> of your <strong>local representatives</strong></h2>

  <p>Then pester their offices until their views reflect yours!</p>

  <div class="enter-zip small-box">
    <h2>Enter Your Zip Code</h2>
    <form action="/zip_results" method="get">
      <input type="number" id="zip" name="zip" min="0" max="99999" value="70115">
      <div class="digit-holder">
        <!-- <input type="text" name="zip1" class="zip-digit-box" placeholder="-">
        <input type="text" name="zip2" class="zip-digit-box" placeholder="-">
        <input type="text" name="zip3" class="zip-digit-box" placeholder="-">
        <input type="text" name="zip4" class="zip-digit-box" placeholder="-">
        <input type="text" name="zip5" class="zip-digit-box" placeholder="-"> -->
      </div> <!-- digit-holder -->
      <input type="submit" value="Submit">
    </form>
    <a href="/zip_results/70115" alt="results" title="results">Click to see 70115</a>
    <!-- /zip_results?zip=70115 -->

  </div> <!-- enter-zip -->

</div> <!-- home -->