<h1>What Have You Done?</h1>
<p>Discover the voting records of your local representatives</p>

<div>
	<h2>Enter your zipcode:</h2>
	<form action="/">
		<input type="text" name="zip">
		<input type="submit">
	</form>
</div>