<header class="jumbotron col-lg-6 col-lg-offset-3">
  <h1>See Their Votes</h1>
  <p class="lead">Enter your zip code to review the voting record of your representatives in congress:</p>
  <form class="form-inline">
    <section class="form-group">
      <input type="number" min="9999" max="99999" placeholder="zip" class="form-control">
    </section>
    <button type="submit" class="btn btn-primary">Go!</button>
  </form>
</header>
