<html>
  <head>
    <title>Politician thing</title>
    <link rel='stylesheet' href='../static/css/styles.css'>
    <link rel='stylesheet' href='../static/css/index.css'>
  </head>
  <body>
    <main class='flex-col center'>
      <h1>What Have You Done</h1>
      <form action="/show" method='get' class='flex-col center'>
        <input type="text" name="zip">
        <span>Enter your zip code</span>
        <input type="submit" value="Submit">
      </form>
    </main>
  </body>
</html>
