<h1 class="title heading">{{title}}?</h1>

<h2 class="heading">Find your local representatatives and find how they vote</h2>

<h4 class="heading subheading">Then pester them into changing their minds!</h4>

<div class="zipbox heading">
  <h2>Enter Your Zip Code</h2>
  <form class="" action="legislators/" method="GET">
    <input id="zipboxinput" type="number" name="zip" min="00000" max="99999" ><br>
    <input id="findbutton" type="submit" name="" value="Find my legislators">
  </form>
</div>

<h5 class="heading"><a class="shoutout" href="https://github.com/coelacanth7">Built by Greg Alford</a></h5>
