<div class="homePage">
	<p class="heading2">Discover the <b>voting records</b> of your <b>local representatives</b></p>
	<p class="heading5">Then pester their offices until their views reflect yours!</p>
	<div class="zipcode">
		<p class="heading3"><b>Enter Your Zip Code</b></p>
		<form action="/legislators" method="get">
			<div class="numbers">
				<input type="text" id="zip" name="zip" placeholder="------"></input>
			</div>
			<div class="go">
				<input type="submit" value="Go!">
			</div>
		</form>
	</div>
</div>
