<h1>Political Tracker</h1>
<p>Enter your zip code:</p>

<form action="/zipcoderesults/" method="get">
  <input type="text" name="zipcode" placeholder="Zipcode">
  <input type ="submit" value="Submit">
</form>
