<!DOCTYPE html>


<html>
<header>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>State Legislatures</title>
  <link rel="stylesheet" type="text/css" href="http://localhost:3000/public/stylesheets/style.css"/>
  <script type="text/javascript" src="http://localhost:3000/public/javascripts/index.js"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
</header>

  <body>
    <div class="center">
      <h1>Your State Legislature</h1>
      <h3>Understand <strong>who</strong> is
        <br>
        making <strong>your state laws</strong></h3>
      <h5>Because no one else probably does!</h6>
    </div>
    <div class="select-state">
      <h6>Enter Your State</h6>
      <br>
      <div class="letter active">
        <div class="letter-text">-</div>
      </div>
      <div class="letter">
        <div class="letter-text">-</div>
      </div>
      <div class="submit">Just do it!</div>
    </div>
  </body>
</html>
