<section>
  <h4>Discover the <strong>voting records</strong>
  <br>
  of your <strong>local representatives</strong></h4>
</section>

<form class="box" action="/legislators" method="get">
  <label for="zip">Enter Your Zip Code:</label>
  <div class="padding-top">
    <input type="text" id="zip" name="zip">
  </div>
  <div class="padding-top">
    <input type="submit" value="Go!">
  </div>
</form>

<footer>
  Coded by <a class="highlighted highlight-shadow" href="https://www.github.com/blackwright">Blackwright</a>
</footer>
