<div class="container-fluid">
    <div class="form-card well">
        <div class="inner-container">
            <h1>Find-My-Rep</h1>
            <form action="/" method="post">
                <div class="form-group">
                    <input name="zip" type="text" class="form-control" placeholder="Zipcode">
                </div>
                <button type="submit" class="btn btn-block btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>