
<div class="box">
	<div class="title-box">
		<h1>{{title}}</h1>
	</div>

	<div class="title-tag-box">
		<p>Discover the <span class="bold-text">voting records</span></p>
		<p> of your <span class="bold-text">local representatives</span></p>
	</div>

	<div class="sm-txt-box">
		<p>Then pester their offices until their views reflect yours!</p>
	</div>

	<div class="zip-box">
		<div class="zip-title">
			<p class="bold-text">Enter Your Zip Code</p>
		</div>
		
		<div class="zip-input-box">
			<div class="number-box active-number-box">
				<div class="mark-across active-mark"></div>
			</div>

			<div class="number-box">
				<div class="mark-across"></div>
			</div>

			<div class="number-box">
				<div class="mark-across"></div>
			</div>

			<div class="number-box">
				<div class="mark-across"></div>
			</div>

			<div class="number-box">
				<div class="mark-across"></div>
			</div>
		</div>
	</div>
	
</div>


