<header>
	<h1>What Have You Done?</h1>
	<p>Discover the voting records of your local representatives</p>
</header>

<section class="zip-container">
	<h2>Enter your zipcode:</h2>
	<form action="/">
		<input type="number" id="zip" name="zip" min="0" max="99999">
		<input type="submit" id="submitButton">
	</form>
</section>