<div class="homePage">
	<h1>{{title}}</h1>
	<p class="heading2">Discover the <b>voting records</b> of your <b>local representatives</b></p>
	<p class="heading5">Then pester their offices until their views reflect yours!</p>
	<div class="zipcode">
		<p class="heading3"><b>Enter Your Zip Code</b></p>
		<div class="numbers">
			<input type="text"></input>
			<input type="text"></input>
			<input type="text"></input>
			<input type="text"></input>
			<input type="text"></input>
		</div>
		<div class="go">
			<input type="submit" value="Go!"></input>
		</div>
	</div>
</div>
