
<header class="text-center">
  <img src="../images/US Capitol-96.png">
  <h1 style="margin-top:10px">REPRESENTED</h1>
  <h4>Find out what your representatives have been up to!</h4>
</header>

<section class="text-center" style="padding-top:15px">
  <h3>Enter your zip code:</h3>

  <form action="/zipcoderesults/" method="get">
    <input type="text" name="zipcode" pattern="[0-9]{5}" placeholder="5 digit zip code">
    <input type ="submit" value="Submit">
  </form>
</section>
