<!DOCTYPE html>


<html>
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>State Legislatures</title>
  <link rel="stylesheet" type="text/css" href="stylesheets/style.css"/>
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
  <script type="text/javascript" src="javascripts/index.js"></script>
</head>

  <body>
    <div class="center">
      <h1>Your State Legislature .com</h1>
      <h3>Understand <span>who</span> is
        <br>
        making <span>your state laws</span></h3>
      <h5>Because no one else probably does!</h6>
    </div>
    <div class="select-state">
      <h6>Enter Your State</h6>
      <br>
      <div class="letter active-div">
        <div class="letter-text active">-</div>
      </div>
      <div class="letter">
        <div class="letter-text">-</div>
      </div>
      <div style="clear: both;"></div>
      <div class="submit">Just do it!</div>
    </div>
  </body>
</html>
