<h1 class="main"><Representative Finder</h1>
<section class="text-center style="padding-top":"15px">
<form action= "/details/" method="get">Enter your Zipcode<footer>(or address for more accurate results)</footer><br>
<input type="text" name="zipadd"><br>
<input type="submit" value="submit">



</form>
</section>