<div class="container">
    <div class="row">
        <div class="col-xs-12">

            <h2>Welcome to your legislative tracker!</h2>
            <p>Enter your zip code below and we'll show you a list of your federal legislators along with their most recent votes. Keep them accountable!</p>
            <form class="zip-form" action="" method="get">
                <div class="input-group input-group-lg">

                    <span class="input-group-btn">
            <button class="btn btn-primary" id="goButton" type="button" onclick="clickGo()">Go!</button>
          </span>
                    <input type="text" class="form-control" id="zipInput" name="zip" value="" placeholder="12345" maxlength="5">


                </div>
            </form>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script type="text/javascript" src="./javascripts/indexFormHandler.js"></script>
