<div class="center">
<h1>What Have You Done?</h1>
<div class="section">
  <div class="subheading">
      Discover the <strong>voting records</strong>
      <br>
      of your <strong>local representatives</strong>
  </div>
  <br>
  <div class="callout">Then pester their offices until their views reflect yours!</div>
</div>
<form action="/zipcode" class="content-box active">

  <h2 class="center">Enter Your Zip Code</h2>
  <br>

  <input type="text" name="zipcode" placeholder="- - - - -" class="zip-box zip-text">
  <input type="submit" value="GO!" class="submit"> 

</form>
</div>
