<div class="home">
  <h1>What Have You Done?</h1>

  <h2>Discover the <strong>voting records</strong> of your <strong>local representatives</strong></h2>

  <p>Then pester their offices until their views reflect yours!</p>

  <div class="enter-zip">
    <h2>Enter Your Zip Code</h2>
    <form action="/action_page.php">
      <div class="digit-holder">
      <input type="text" name="zip1" class="zip-digit-box" placeholder="-">
        <input type="text" name="zip2" class="zip-digit-box" placeholder="-">
        <input type="text" name="zip3" class="zip-digit-box" placeholder="-">
        <input type="text" name="zip4" class="zip-digit-box" placeholder="-">
        <input type="text" name="zip5" class="zip-digit-box" placeholder="-">
      </div> <!-- digit-holder -->
      <input type="submit" value="Submit">
    </form>
  </div> <!-- enter-zip -->

</div> <!-- home -->