<!DOCTYPE html>
<html>
  <head>
    <title>What Have You Done?</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header class="center">
      <h1><a href="/">What Have You Done?</a></h1>
    </header>
    {{{body}}}
  </body>
</html>
