<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <header class="site-header">
    <h1>What Have You Done?</h1>
  </header>
    {{{body}}}
  </body>
</html>
