<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container">
      <header class="site-header">
        <h1><a href="/" target="" alt="What Have You Done?" title="What Have You Done?">What Have You Done?</a></h1>
      </header>

      {{{body}}}

    </div> <!-- container -->

    <footer>Made as a Viking Code School project</footer>
  </body>
</html>
