<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css'>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <header class="banner">
        <a href="/">
          <h1>What Have You Done?</h1>
        </a>
      </header>

      {{{body}}}

    </div>
  </body>
</html>
