<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container">
      <header class="banner">
        <h1>
       	  <a href="/" target="" alt="What Have You Done?" title="What Have You Done?">What Have You Done?</a>
       	</h1>
      </header>
	  {{{body}}}
	</div>
  </body>
</html>
