<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container">
      <header class="site-header">
        <h1>What Have You Done?</h1>
      </header>

      {{{body}}}

    </div> <!-- container -->

    <footer>Made by Anne Richardson for Viking Code School project</footer>
  </body>
</html>
