<!DOCTYPE html>
<html>
  <head>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <title>REPRESENTED</title>

    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">REPRESENTED - by Nicholas Romeo</a>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right text-center">
          <li><a href="https://github.com/Throw22">GitHub</a></li>
          <li><a href="http://www.linkedin.com/in/romeonicholas/">LinkedIn</a></li>
          <li><a href="https://throw22.github.io/">Portfolio</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <body>
    <div class="wrapper">
      {{{body}}}
    </div>

  </body>

  <footer class="text-center footer">
    <p>&copy; 2017 Nicholas Romeo, <a href="https://icons8.com">Icon pack by Icons8</a> <p>
  </footer>

</html>

  <!-- <a class="navbar-brand" href="/">REPRESENTED - Site by Nicholas Romeo</a> -->
<!-- <ul class="nav navbar-nav navbar-right">
  <li><a href="https://github.com/Throw22">GitHub</a></li>
  <li><a href="http://www.linkedin.com/in/romeonicholas/">LinkedIn</a></li>
  <li><a href="https://throw22.github.io/">Portfolio</a></li>
</ul> -->
