<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/jquery.js"></script>
    <script src="/javascripts/script.js"></script>
  </head>
  <body>
  	<main>
    	{{{body}}}
    </main>
  </body>
</html>
