<div class="display-zip">
  <p>70115</p>
</div> <!-- display-zip -->

<h1 class="chamber">House</h1>
<article class="profile">
  <section class="pic-holder">
    <img src="https://theunitedstates.io/images/congress/original/R000588.jpg">
  </section>
  <section class="details">
    <h1>Cedric L. Richmond</h1>
    <h2>Democrat</h2>
  </section>
</article>