<div class="display-zip">
  <span>7</span>
  <span>0</span>
  <span>1</span>
  <span>1</span>
  <span>5</span>
  <p><a href="" alt="change zip" title="change zip">Change Zip</a></p>
</div> <!-- display-zip -->


{{#each legislators as |legislator|}}
  <article class="profile">
    <section class="pic-holder">
      <img src="{{legislator.imageUrl}}">
    </section>
    <section class="details">
      <h1>{{legislator.name}}</h1>
      <h2>{{legislator.party}}</h2>
    </section>
  </article>
{{/each}} <!-- legislator -->


<hr>

<h1 class="chamber">House</h1>
<article class="profile">
  <section class="pic-holder">
    <img src="https://theunitedstates.io/images/congress/original/R000588.jpg">
  </section>
  <section class="details">
    <h1>Cedric L. Richmond</h1>
    <h2>Democrat</h2>
  </section>
</article>
<article class="profile">
  <section class="pic-holder">
    <img src="https://theunitedstates.io/images/congress/original/R000588.jpg">
  </section>
  <section class="details">
    <h1>Cedric L. Richmond</h1>
    <h2>Democrat</h2>
  </section>
</article>

<h1 class="chamber">Senate</h1>
<article class="profile">
  <section class="pic-holder">
    <img src="https://theunitedstates.io/images/congress/original/R000588.jpg">
  </section>
  <section class="details">
    <h1>Cedric L. Richmond</h1>
    <h2>Democrat</h2>
  </section>
</article>
<article class="profile">
  <section class="pic-holder">
    <img src="https://theunitedstates.io/images/congress/original/R000588.jpg">
  </section>
  <section class="details">
    <h1>Cedric L. Richmond</h1>
    <h2>Democrat</h2>
  </section>
</article>
