html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

* {
  box-sizing: border-box;
}

body {
  font: 16px "Open Sans", Arial, sans-serif;
  background-color: #eee;
  padding-bottom: 50px;
}

.container {
  text-align: center;
}

h1 {
  font-weight: 800;
  font-size: 3em;
}

h2 {
  font-size: 2.5em;
}

h3 {
  font-size: 2em;
}

h4 {
  font-size: 1.75em;
}

strong {
  font-weight: 800;
}

.banner {
  width: 600px;
  margin: 50px auto;
  padding: 20px 0;
  background-color: yellow;
  border-bottom: 2px solid #aaa;
}

.padding-top {
  padding-top: 20px;
}

section, footer {
  margin: 50px 0;
}

.highlight-shadow {
  border-bottom: 1px solid #aaa;
}

.box {
  padding: 30px 30px;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 10px;
  width: 400px;
  margin: 20px auto;
}

input[type="text"] {
  font-size: 5em;
  display: block;
  width: 260px;
  height: 100px;
  margin: 0 auto;
  border: 1px solid #aaa;
}

input[type="submit"] {
  font-size: 1.3em;
  display: block;
  padding: 10px 20px;
  background: yellow;
  border: 0;
  box-shadow: 0 2px #aaa;
  height: 50px;
  margin: 0 auto;
  cursor: pointer;
  outline: none;
}

input[type="submit"]:active {
  border: 0;
  position: relative;
  top: 2px;
  box-shadow: none;
}

footer {
  font-size: .9em;
}

a {
  color: black;
  text-decoration: none;
}

footer a {
  padding: 1px 3px;
}

.highlighted {
  color: black;
  background-color: yellow;
  padding: 0 .2em;
  display: inline-block;
}

.list {
  width: 400px;
  margin: 0 auto;
}

.list ul {
  text-align: left;
}

.list li {
  padding: 10px 0;
}

.list-name {
  font-size: 1.75em;
  padding: 0 5px;
}

.list-party {
  margin-left: 5px;
  padding: 3px 0;
}

.list-portrait {
  width: 100px;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
}

.list-desc {
  display: inline-block;
  vertical-align: middle;
  text-align: left;
  margin-left: 20px;
}

.profile-contact {
  text-align: left;
}

.contact-item {
  padding: 3px 0;
}

.contact-info {
  font-size: 1.2em;
}

.grayed {
  color: #999;
}

.bill {
  width: 60%;
  border: 1px solid;
  border-radius: 10px;
  background-color: white;
  padding: 20px 20px;
  margin: 30px auto;
  text-align: left;
}

.vote-yea {
  border-color: green;
}

.vote-nay {
  border-color: red;
}
