body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 14px;
  background-color: #EEE;
}
#main-column{
  display: flex;
  flex-flow: column nowrap;
  width: 400px;
  margin: auto;
}
a {
  color: #00B7FF;
}
a:hover{
  color: yellow;
}
/*
.zip-code .zip-char {
    font-size: 1.2em;
    display: inline-block;
    padding: 2px 3px;
    border-radius: 3px;
    background-color: white;
    font-weight: bold;
    border: 1px solid #CCC;
}
*/
#top{
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin: 10px;
}
.details {
  font-size: 12px;
}
.highlight {
  background-color: yellow;
}
form,#zip-code {
  background-color: white;
  width: 350px;
  margin: auto;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
form * {
  margin: 10px;
}

.title {
  background-color: yellow;
}
#zip-form-wrapper{
  display: flex;
  flex-flow: row nowrap;
  border: 0;
  margin: 0;
  padding: 10px;
}
#contact_info{
  font-size: 16px;
  padding: 8px;
  border: 1px solid grey;
  background-color: white;
}
#contact_info div{
  margin-bottom: 8px;
}

#contact_info div * {
  padding: 4px;
  margin: 0;
}
#display{
  font-size: 24px;
}
.center {
  margin: auto;
  text-align: center;
}
.center-things {
  margin: auto;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
#recent-bills {
  width: 70%;
  margin-top: 40px;
}
.bill {
  background-color: white;
  margin-top: 30px;
  border: 1px solid black;
  text-align: left;
  font-size: 20px;
  width: 100%;
  padding: 16px;
}
