body {
//   padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.results {
    display: inline-flex;
    width: 100%;
}

.card {
    background-color: #fff;
    display: inline-flex;
    margin: 50px;
    width: 300px;
    height: 480px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    &:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }
    img {
        width: 300px;
        height: 365px;
    }

    .chamber {
        text-align: center;
        margin: 10px;
        color: #aaa;
        font-size: 16px;
    }
}

.inner-card {
    padding: 2px 16px;
}

.form-card {
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
    form {
        margin-top: 50px;
    }
}